#root {
  font-family: 'Courier New', Courier, monospace;
  background-color: #FFF07C;
  color: #5d737e;
  height: 100vh;
}

#quotebox {
  background-color: #87bba2;
  color: #f0f7ee;
  padding: 17px;
  margin: 10vw;
  border-radius: 10px;
}

#cat-input {
  text-align: center;
}

#random-pick {
  text-align: center;
  margin: 7vh 43vw;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  background-color: #5d737e;
}

#submit {
  border-radius: 8px;
  border: 1px solid #b27961;
  color: #b27961;
  background-color: white;
  margin: 10px;
}

#form {
  text-align: center;
  color: #b27961;
}